* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#start {
  background-color: #4caf50;
  color: white;
}

#stop {
  background-color: #f44336;
  color: white;
}

#reset {
  background-color: #2196f3;
  color: white;
}
